body{
  background-color: lightgray;;
}

#cabecalho {
  border-bottom: solid #FF8C00 5px;
}

#rodape{
  border-top: solid #FF8C00 5px;
  font-size: small;
}
.conteudo{
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
}
.card-color{
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  padding: 20px;
}
.card-title{
  text-align: center ;
}
.card-title,
  .card-subtitle,
  .card-text {

    margin: 0;
    color: black;
  }
  .img-card1{
    opacity: 0.5;
  }
  .img-card2{
    opacity: 0.2;
  }
  .img-card3{
    opacity: 0.6;
  }

  .card-depo {
    width: auto;
    background-color: transparent;
  }

  .btn-outline-light {
    background-color: #404040;
    width: 100px;
    align-self: flex-end;
  }
  .card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  